### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea
.idea/*
.idea/libraries
.idea/.name
.idea/workspace.xml
/.idea/workspace.xml
target/
target/generated-sources/
target/generated-test-sources/
target/test-classes
target/site
*.log
*.iml
*.ipr
*.iws
.allure
*/src/main/java/resources/hiddenConfig.properties

allure-results